.login-wrapper {
    float: left;
    display: flex;
    background-color: #347928;
    padding: 2rem;
    padding-bottom: 1px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.login-welcome-text {
    margin-bottom: 1px;
    color: white;
    font-weight: bold;
    font-size: 400%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-logo {
    margin-top: 1px;
    width: 80%;
    font-weight: bold;
    font-size: 850%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 80%;
    color: white;
}
.login-logo2 {
    margin-top: 100px;
    width: 80%;
    font-weight: bold;
    font-size: 320%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 80%;
    color: white;
}

.login-welcome {
    width: 550px;
    margin: auto;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-form-option {
    border-radius:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    /* height: 500px !important; */
    margin-left: 120px;
    padding: 2rem;
    background-color: white;
}

.login-title {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loginText {
    text-align: center;
    font-size: 100%;
    color: gray;
    margin-bottom: 1.5rem;
}

.forpas {
    font-size: 0.8rem;
    color: blue!important;
    text-decoration: underline;
    margin-top: -10px;
    margin-bottom: 1rem;
    text-align: right;
    width: 100%;
}

.buttonGroup {
    text-align: center;
}

.tombol {
    width: 100%;
    background-color: #fcd535;
    border: none;
    font-weight: bold;
    color: white;
}

.tombol p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-bottom: 0;
}

@media (max-width : 1500px){
    .login-form-option {
        margin-left: 100px;
    }
}

@media (max-width : 1400px){
    .login-form-option {
        margin-left: 0;
    }
}

@media (max-width : 1300px){
    .login-form-option {
        margin-left: -150px;
    }
}

@media (max-width: 1100px) {
    .login-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

    .login-welcome {
        margin: 2rem auto;
        width: 90%;
        text-align: center;
    }

    .login-logo {
        width: 100%;
        font-size: 500%;
    }
    .login-logo2 {
        width: 100%;
        font-size: 500%;
    }

    .login-form-option {
        margin-left: 0;
        width: 90%;
        height: auto !important;
        padding: 2rem;
        border-radius: 20px;
    }
}

@media (max-width: 576px) {
    .login-welcome-text {
        font-size: 250%;
    }

    .login-logo {
        font-size: 400%;
    }
    .login-logo2 {
        font-size: 400%;
    }

    .login-title {
        font-size: 2.5rem;
    }
}
