.register-wrapper {
    float: left;
    display: flex;
    background-color: #347928;
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-welcome-text {
    margin-bottom: 1px;
    color: white;
    font-weight: bold;
    font-size: 400%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-logo {
    margin-top: 1px;
    width: 80%;
    font-weight: bold;
    font-size: 850%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 80%;
    color: white;
}

.register-logo2 {
    margin-top: 100px;
    width: 80%;
    font-weight: bold;
    font-size: 320%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 80%;
    color: white;
}

.register-welcome {
    width: 550px;
    margin: auto;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-form-option {
    border-radius:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 540px;
    /* height: 00px !important; */
    margin-left: 120px;
    padding: 2rem;
    background-color: white;
}

.register-title {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-option-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.register-option-box {
    background-color: #347928;
    border: 4px solid #fcd535;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.register-option-box:hover {
    transform: scale(1.05);
    background-color: #2c6223;
}

.register-option-text {
    color: white;
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 26px;
}

.register-info {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.register-info a {
    color: #198754;
    text-decoration: none;
}

.register-info a:hover {
    text-decoration: underline;
}

@media (max-width : 1500px){
    .register-form-option {
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 650px;
        height: 630px!important;
        margin-left: 100px;
    }
}

@media (max-width : 1400px){
    .register-form-option {
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 650px;
        height: 630px!important;
        margin-left: 0;
    }
}

@media (max-width : 1300px){
    .register-form-option {
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 650px;
        height: 630px!important;
        margin-left: -150px;
    }
}

@media (max-width: 1100px) {
    .register-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

    .register-welcome {
        margin: 2rem auto;
        width: 90%;
        text-align: center;
    }

    .register-logo {
        width: 100%;
        font-size: 500%;
    }
    .register-logo2 {
        width: 100%;
        font-size: 500%;
    }

    .register-form-option {
        margin-left: 0;
        width: 90%;
        height: auto !important;
        padding: 2rem;
        border-radius: 20px;
    }

    .register-option-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

@media (max-width: 576px) {
    .register-welcome-text {
        font-size: 250%;
    }

    .register-logo {
        font-size: 400%;
    }
    .register-logo2 {
        font-size: 400%;
    }

    .register-option-box {
        width: 150px;
        height: 150px;
    }

    .register-option-text {
        font-size: 22px;
    }

    .register-title {
        font-size: 2.5rem;
    }
}
