.sub-register-title{
    color: #696969;
    font-weight: 700;
    margin-top: -30px;
    margin-bottom: 60px;
}

.input-register-pembeli{
    width: 500px;
}

.register-form-pembeli{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    /* height: 630px!important; */
    margin-left: 150px;
}