.foto-container{
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    width: 300px;
    height: 330px;
}

.foto-container img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
    display: block;
    margin-top: 20px!important;
    margin: auto; 
}

@media (max-width: 768px) {
    .foto-container {
        border: 1px solid #B7B7B7;
        border-radius: 5px;
        width: 100%;
        max-width: 300px;
        height: auto;
        padding: 10px;
        margin: 0 auto;
    }

    .foto-container img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .foto-container {
        border: 1px solid #B7B7B7;
        border-radius: 5px;
        width: 100%;
        max-width: 250px;
        height: auto;
        padding: 10px;
        margin: 0 auto;
    }

    .foto-container img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
    }
}