body{
    /* background:
    url("http://login.uajy.ac.id/ac_portal/default/res/img/201811081500210.png");
    background-repeat: repeat; */
    background: #347928;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    overflow-y: auto;
}