.carousel-detail {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-detail .carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


.carousel-detail .carousel,
.carousel-detail .carousel-inner,
.carousel-detail .carousel-item {
  width: 100%;
  height: 100%;
}