.carousel-home .carousel-image {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-self: center;
  object-fit: fill;
}

.carousel-home .carousel,
.carousel-home .carousel-inner,
.carousel-home .carousel-item {
  width: 100vw;
  height: 80vh;
}

.carousel-caption {
  transform: translateY(-8vh);
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* Opsional: latar belakang transparan */
  padding: 1rem;
  border-radius: 10px;
}
