.hstry-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #fefefe;
}

.hstry-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}
.action-buttons-req{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hstry-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #fefefe;
}

.histo-donasi-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.histo-donasi-content-container {
    flex: 1;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
}

.histo-donasi-container h2 {
    margin-bottom: 15px;
}

.search-bar-hstry {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
}

.histo-donasi-table {
    width: 100%;
    border-collapse: collapse;
    
}

.histo-donasi-table th,
.histo-donasi-table td {
    border-top: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.histo-donasi-table tr{
    cursor: pointer;
}

.histo-donasi-table tr:hover {
    background-color: #f1f1f1;
}

.histo-donasi-table th {
    background-color: #f5f5f5;
}

